/* General layout */
body {
  font-family: 'Open Sans', sans-serif;
  color: #1B1B1E;
}

* {
  border-radius: 0 !important;
}

/* Navigation */

.sidebar-brand-text {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
}

.side-bar {
  background-color: rgb(95, 89, 80);
  min-width: 200px;
  
}

/* Headings */

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
}

.headingBar {
  background-color: rgb(77, 172, 77);
}

/* Cards */

.card {
  background-color: #FCF3CF;
}

.card-header {
  background-color: rgb(95, 89, 80);
  color: white;
}

/* Buttons */

.btn-dark {
  background-color: rgb(204, 178, 146);
  color: white;
}
